* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  line-height: 1.6;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: transparent;
  padding: 40px 20px; 
  color: #b67352; 
  text-align: center;
  height: 300px; 
}

header h1 {
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  margin-bottom: 10px;
}
header .site-info h1 {
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  text-transform: uppercase;
  margin-bottom: 10px;
}

header .site-info p {
  margin-bottom: 10px;
}

header .site-info b {
  font-weight: bold;
}

header .navbar-container {
  width: 100vw;
  display: flex;
  justify-content: center; 
}

header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 92px;
  margin-left: -20px;
  display: flex;
  background-color: #8cb9bd;
  max-width: 960px;
}
header .navbar ul li a {
  color: #fff; 
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px 20px; 
  transition: background-color 0.3s ease;
}

header .navbar ul li a:hover {
  background-color: #b67352;
  color: #fff;
  border-radius: 5px;
}

.main {
  display: flex;
  gap: 20px;
  margin-top: 0;
}

.sidebar {
  flex: 0 0 30%;
  background-color: #ecb159;
  padding: 15px;
}

.sidebar h2,
.sidebar h3 {
  font-family: 'Pacifico', cursive;
  color: #fff;
}

.sidebar img {
  max-width: 100%;
  margin: 10px 0;
}
.main-content {
  flex: 1;
}

.main-content h2 {
  margin-top: 5px;
  font-family: 'Pacifico', cursive;
  color: #b67352;
}

.main-content h5 {
  color: #8cb9bd;
  font-size: 0.9rem;
}

.logo img{
  width: 25px;
  
}
.main-content article:nth-child(2) {
  margin-top: -10px;
}
.main-content img {
  width: 35%;
  height: auto;
  float: left;
  margin-right: 15px;
}

.main-content p {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #fefbf6; 
  margin-top: 20px;
  border-top: 2px solid #b67352;
}

footer p {
  font-size: 0.9rem;
  color: #b67352;
}
